body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#letras {
    text-align: center;
    width: 80%;
    height: 60vh; /* Ajusta según sea necesario */
    overflow-y: auto;
    margin-bottom: 20px;
}

audio {
    position: fixed;
    bottom: 10px;
    width: 80%;
}


/* Media query para pantallas más pequeñas */
@media (max-width: 600px) {
    #letras {
        width: 90%;
        height: 50vh; /* Ajusta según sea necesario */
    }

    audio {
        width: 90%;
    }
}
